---
layout: products
title: Calving Camera Systems
subTitle: Information site dedicated to Calving Camera Systems
bg-img: calving-camera-creevagh.jpg

slides:
   - title: Calving Camera Systems
     heading:
     text: 
     image: /img/major/ip-calving-camera-system-white.png
     thumb: /img/major/ip-calving-camera-system-blue.png
     link: /products/index.html
   - title: Calving Cameras
     heading: Monitor your cows during calving season.
     text: 
     image: /img/major/cow-and-calf-creevagh.png
     thumb: /img/major/cow-and-calf-creevagh.png
     link: /ip/2015/04/24/ip-calving-camera-system.html
   - title: Wireless Connection
     heading: Connect house to shed with Directional Antennas.
     text: 
     link: /wireless/2015/05/26/ip-wireless-directional-antenns.html
     image: /img/major/ip-directional-antennas-bg.png
     thumb: /img/major/ip-directional-antennas-bg.png
   - title: Connection Diagrams
     heading: Find out how to connect up a Calving Camera System.
     text: 
     image: /img/major/connection-diagram.png
     thumb: /img/major/connection-diagram.png
     link: /wireless/2015/05/26/ip-wireless-directional-antenns.html
   - title: Mobile Devices
     heading: View video from the camera on many different mobile devices.
     image: /img/major/s8.png
     thumb: /img/major/s8t.jpg
   - title: Remote Viewing
     heading: View Calving Camera over the Internet.
     image: /img/major/s2.png
     thumb: /img/major/s2t.jpg
     link: /internet/2015/08/08/viewing-calving-camera-over-the-internet.html
---

<div class="fb-like" data-href="http://calvingcamerasystems.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<h1>Calving Camera Systems</h1>
<div>
An information and review site that provides the best information on how to install a calving camera system for your farm. It details how to set up and configure the many different types of calving camera systems and offers advice on the best products to buy.
<div>
<br/>
{% include products-preview.html %}
<br/>
<h1>BLOG POSTS</h1>
<hr style="border-top: 1px solid #000;" />
{% for post in site.posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
                {{ post.description }}
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">{% if post.author %}{{ post.author }}{% else %}{{site.author}}{% endif %}</a> on {{ post.date | date: "%b %-d, %Y" }}</p>
    </div>
    <hr>        
{% endfor %}

{% include markup.html %}


<!-- Pager 

<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>

<hr>
-->

<!--

<div class="container">
  <div class="row">
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
-->