<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr style="border-top: 1px solid #000;" />
                {% include signup.html %}
                <br/>
                <ul class="list-inline text-center">
                    <div>
                        If you would like to get up to date information about this site why not follow us on Facebook, Twitter, or Google+ with the following links.
                    </div>
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" onClick="_gaq.push(['_trackEvent', 'facebook', 'link', 'Navigated to facebook page from {{ page.title }}.']);">
                            <span class="fa-stack fa-lg lg icon-facebook">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" onClick="_gaq.push(['_trackEvent', 'twitter', 'link', 'Navigated to twitter page from {{ page.title }}.']);">
                            <span class="fa-stack fa-lg icon-twitter">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.google_username %}
                    <li>
                        <a href="https://plus.google.com/{{ site.google_username }}" onClick="_gaq.push(['_trackEvent', 'google', 'link', 'Navigated to google plus page from {{ page.title }}.']);">
                            <span class="fa-stack fa-lg icon-gplus">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" onClick="_gaq.push(['_trackEvent', 'github', 'link', 'Navigated to github page from {{ page.title }}.']);">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} 2015</p>
            </div>
        </div>
    </div>
</footer>
